include ../ExtraLink/index.pug

mixin inputType(type, id, placeholder="", descText="", errText="", forgotFactor=true)

	append block head
		link(rel="stylesheet", href="../components/Input/style.sass")
		link(rel="stylesheet", href="../components/ExtraLink/style.sass")
		
	fieldset.input
		label.input__label(for=id)
			.input__inputDesc #{descText}
			input.input__textdata(type=type id=id placeholder=placeholder required)
			.input__footer
				span.input__errDesc #{errText}
				if type === 'password' && forgotFactor
					+extraLink("#", "link__forgotten", "Забыли пароль?")
			