mixin inputType(type, id, placeholder="", descText="", errText="", forgotFactor=true)
		
	fieldset.input
		label.input__label(for=id)
			.input__inputDesc #{descText}
			input.input__textdata(type=type id=id placeholder=placeholder)
			.input__footer
				span.input__errDesc #{errText}
				if type === 'password' && forgotFactor
					+extraLink("#", "link__forgotten", "Забыли пароль?")
			