prepend head
	link(rel="stylesheet" href="../components/Input/style.sass")


mixin inputType(type, id, placeholder="", descText="", errText="", forgotFactor=true)
		
	fieldset.input
		label.input__label(for=id)
			.input__inputDesc #{descText}
			if type === "tel"
				input.input__textdata(type=type id=id data-phoneclear="true" data-phonepattern="+7(___) ___-__-__" placeholder="+7(123) 456-78-90" name=id)
			else
				input.input__textdata(type=type id=id placeholder=placeholder name=id)
			.input__footer
				span.input__errDesc #{errText}
				if type === 'password' && forgotFactor
					+extraLink("#", "link__forgotten", "Забыли пароль?")
			