include ./MenuItem/index.pug

prepend head
	link(rel="stylesheet" href="../components/Menu/style.sass")

mixin menu(menuClassName, arr, placement)
	div(class=`${menuClassName} ${menuClassName}--hidden`)
		ul(class=placement === "fromHeader"
			 ? `${menuClassName}__list ${menuClassName}__list--header`
			 : `${menuClassName}__list ${menuClassName}__list--footer`)
			each elem in arr
				+menuItem(
								`${menuClassName}__listItem ${elem.btnClass}`,
								elem.content,
								null,
								elem.contentIcon
							)