prepend head
	link(rel="stylesheet" href="../components/Chat/ChatItem/style.sass")


mixin chatItem(userLogo, userName, isOwner = false, contentType = null, lastData, quantity)
	.aside__chatItem.chatItem
		.chatItem__box
			.chatItem__logo
				.chatItem__logoContent
					img(src=userLogo, alt="userIcon")
			.chatItem__caption
				.chatItem__name
					span #{userName}
				.chatItem__desc
					case contentType
						when "image"
							if isOwner
								.chatItem__owner Вы:
							span Изображение
						when "sticker"
							if isOwner
								.chatItem__owner Вы:
							span Стикер
						default
							span #{contentType}
			.chatItem__info
				time.chatItem__time #{lastData}
				.chatItem__quantity
					if quantity
						.chatItem__quantityWrapper
							span.chatItem__quantityValue #{quantity}